.info-block {
  height: 500px;
  scroll-behavior: smooth;
}
.red {
  background: rgba(216, 56, 40, 0.65);
}
.green {
  background: rgba(21, 216, 83, 0.46);
}
.blue {
  background: rgba(56, 124, 216, 0.52);
}
.yellow {
  background: rgba(216, 182, 32, 0.65);
}
.grey {
  background: rgba(173, 177, 173, 0.75);
}
